.card-header {
  font-size: 1.2vw;
  height: 18%;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  /* border-radius: 8px 8px 0px 0px; */
  padding: 0px 17.5px;
  border-radius: 9px 9px 0 0;
}

.card-header span {
  text-transform: capitalize;
  font-family: 'Oxanium', cursive;
  font-weight: 600;
  transition: color 0.3s;
}

.favorite-icon {
  cursor: pointer;

  width: 0.9vw;
  margin-left: 5px;
}
.favorite-icon:hover {
  transform: scale(1.1);
}

.fav-name-color {
  color: rgb(227, 122, 2);
}

.flip-icon {
  cursor: pointer;
  width: 1.3vw;
  margin-bottom: 3px;
  margin-right: 5px;
}

.flip-icon:hover {
  transform: scale(1.08);
}

.flip-id-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  /* width: 4.2vw; */
}

@media (max-width: 480px) {
  .card-header {
    font-size: 4vw;
  }
  .favorite-icon {
    width: 3.4vw;
  }
  .flip-icon {
    width: 4vw;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .card-header {
    font-size: 1.9vw;
  }
  .favorite-icon {
    width: 1.3vw;
  }
}

@media (min-width: 769px) and (max-width: 1000px) {
  .card-header {
    font-size: 1.5vw;
  }
}
