.face {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.front {
  /* opacity: 0; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-image 1.5s ease-in;
  backface-visibility: hidden; /* retirar dps */
}

.card-body {
  font-size: 0.9vw;
  width: 97.8%;
  height: 79%;
  display: flex;
  justify-content: space-between;
  padding: 8px 0px 0px 10px;
  border-radius: 0px 0px 9px 9px;
  background-color: rgba(0, 0, 0, 0.2);
}

.card-info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}

.card-info span {
  text-transform: capitalize;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

.card-info-weigth-heigth {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  width: 60%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5);
}

.barra {
  font-size: 1vw;
  font-family: arial;
  font-weight: 900;
}

.card-info-types {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 62%;
  height: 20%;
  border-radius: 10px;
}

.card-info-abilities {
  display: flex;
  width: 200%;
  height: 20%;
}

.info-ability {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31.5%;
  z-index: 1;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.card-image {
  width: 25%;
  overflow: hidden;
  /* background-color: red; */
}

.pokemon-img {
  cursor: pointer;
  width: 73%;
  margin-top: 17%;
  margin-left: 5px;
  transition: transform 0.3s linear;
}

.pokemon-img:hover {
  transform: scale(1.1);
}

.pokemon-img-static {
  width: 90%;
  margin-top: 10%;
}

@media (max-width: 480px) {
  .card-body {
    font-size: 3vw;
  }
  .card-image {
    width: 30%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .card-body {
    font-size: 1.5vw;
  }
}

@media (min-width: 769px) and (max-width: 1000px) {
  .card-body {
    font-size: 1vw;
  }
}
