.pokedex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 72%;
  margin: 40px auto -5px auto;
  padding: 10px;
}

:root {
  --text-shadow-offset: 3px;
  --text-shadow-color: #0a68c1;
}

.title {
  font-size: 2.5vw;
  cursor: pointer;
  text-shadow: var(--text-shadow-offset) var(--text-shadow-offset) 0
      var(--text-shadow-color),
    var(--text-shadow-offset) calc(-1 * var(--text-shadow-offset)) 0
      var(--text-shadow-color),
    calc(-1 * var(--text-shadow-offset)) var(--text-shadow-offset) 0
      var(--text-shadow-color),
    calc(-1 * var(--text-shadow-offset)) calc(-1 * var(--text-shadow-offset)) 0
      var(--text-shadow-color),
    var(--text-shadow-offset) 0 0 var(--text-shadow-color),
    0 var(--text-shadow-offset) 0 var(--text-shadow-color),
    calc(-1 * var(--text-shadow-offset)) 0 0 var(--text-shadow-color),
    0 calc(-1 * var(--text-shadow-offset)) 0 var(--text-shadow-color),
    var(--text-shadow-offset) var(--text-shadow-offset)
      var(--text-shadow-offset) rgba(35, 99, 206, 0);
}

.cards-container {
  display: flex;
  align-content: flex-start;
  /* align-items: flex-start; */
  /* justify-content: center; */
  gap: 1vw;
  flex-wrap: wrap;
  height: 73vh;
  width: 75%;
  margin: 0px auto 0px auto;
}

.simplebar-scrollbar::before {
  background: rgba(255, 255, 255, 0.606);
}

/* .simplebar-content {
    margin-top: 20px;
  } */

.simplebar-content-wrapper {
  padding: 40px 0 0 0;
}

.simplebar-track {
  right: 9vw; /* Ajuste a posição horizontal da scrollbar */
  padding-top: 35px;
}

@media (max-width: 480px) {
  .cards-container {
    /* justify-content: center; */
    gap: 1.6vw;
  }
  .simplebar-scrollbar::before {
    display: none;
  }
}

@media (max-width: 768px) {
  .cards-container {
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .cards-container {
    justify-content: center;
  }
}
