.pokemon-card {
  position: relative;
  /* cursor: pointer; */
  width: 30.5%;
  aspect-ratio: 3/1.07;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.4);
  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
  border: 1px solid black;
}

.rotated-card {
  transform: rotateY(180deg);
}

@media (max-width: 480px) {
  .pokemon-card {
    width: 90%;
    aspect-ratio: 3/1.81;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .pokemon-card {
    width: 60%;
  }
}

@media (min-width: 769px) and (max-width: 1100px) {
  .pokemon-card {
    /* width: 45%; */
  }
}
